* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #006;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

nav {
	float: left;
	width: 15%;
	height: 618px;
	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

article {
	float: left;
	padding: 20px;
	width: 85%;
	background-color: #f1f1f1;
	height: 618px;
	margin-bottom: 20px;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 135px;
	background-color: #007;
	padding: 20px;
	text-align: center;
	color: white;
}

@media (max-width: 600px) {
	nav, article {
		width: 100%;
		height: auto;
	}
}